html,body {
    margin: 0;
    padding: 0;
}

/*.logopng img{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    margin-right: 10px;*/
/*    margin-top: 0px;*/
/*}*/

.container {
    height: 100px;
}

.navigatie{
    font-family: "Helvetica", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.rightdiv{
    display: flex;
}

.leftdiv{
    display: flex;

}

.navigatie{
    background-color: #ebebeb;
}

.navigatie > .leftdiv > div {
    margin-right: 20px;
}

.navigatie > .rightdiv > div {
    margin-left: 20px;
}

.navlink {
    height: 22px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 1s;
}

.navlink a {
    color: darkgrey;
    text-decoration: none;
    transition: color 0.5s;
}

.navlink:hover{
    border-bottom: 2px solid black;
}

.navlink a:hover{
    color:black;
}

.loginForm{
    position: absolute;
    width: 400px;
    padding: 40px;
    top: 50%;
    left: 50%;
    background: #ebebeb;
    text-align: center;
    border-radius: 25px;
    transform: translate(-50%, -50%);
}

.textInputs > *{
    padding-top: 15px;
    padding-bottom: 15px;
}

.loginItems > *{
    padding-bottom: 25px;
}

.inloggenLabel{
    font-family: "Helvetica", sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 30px;
}

.loginButton{
    padding-top: 30px;
    padding-bottom: 30px;
}

input#email{
    width: 250px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: 0.1s;
}

input#wachtwoord{
    width: 250px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: 0.1s;
}

input#login{
    width: 250px;
    background: #3d8af7;
    color: #FFFFFF;
    height: 34px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

input#login:hover{
    background: #71bc83;
}

.passwordResetLabel{
    text-align: right;
    text-decoration: underline;
}

.container2 {
    position: absolute;
    width: 500px;
    padding: 40px;
    top: 50%;
    left: 50%;
    background: #ebebeb;
    text-align: center;
    border-radius: 25px;
    transform: translate(-50%, -50%);
}

.buttons > * {
    margin-top: 30px;
    width: 150px;
    background: #3d8af7;
    color: #FFFFFF;
    height: 34px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

.buttons > *:hover{
    background: #71bc83;
}

input#submit{
    margin-right: 30px;
}

.newProductLabel{
    margin-bottom: 20px;
    font-size: 150%;
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
    text-align: left;
}

.naamLabel{
    text-align: left;
    font-family: "Helvetica", sans-serif;
    margin-bottom: 5px;
}

.prijsLabel{
    text-align: left;
    font-family: "Helvetica", sans-serif;
    margin-bottom: 5px;
}

.naam{
    text-align: left;
    margin-bottom: 20px;
    font-family: "Helvetica", sans-serif;
}

.prijs{
    text-align: left;
    font-family: "Helvetica", sans-serif;
    margin-bottom: 30px;
}

input#productName{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
}

input#productPrijs{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.background{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: darkgrey;
    text-align: center;
}

.backgroundProduct{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: darkgrey;
}

.productList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    padding: 40px;
    background: #ebebeb;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 70%;
    overflow: auto;
    margin-top: 50px;
}

.product{
    width: 200px;
    height: 200px;
    margin: 25px;
    background-color: lightgrey;
    border-radius: 5px;
    transition: 0.2s;
}

.product:hover{
    background-color: #b5b5b5;
}

.productName{
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    font-family: "Helvetica", sans-serif;
}

.productPrijs{
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    font-family: "Helvetica", sans-serif;
}